@import url('../../Styles/Styles.css');

.welcome-page-main{
  background-color:var(--primary-color);
  min-height: 100vh;
}

.logo{
    font-family:cursive;
    font-weight: bold;
    font-size: 35px;
    margin:30px 0px 10px 60px !important;
}

.items{
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 55px 10px 10px 25px !important;
  cursor: pointer;

}

.login{
  margin:55px 0px 10px 180px !important;
  cursor: pointer;

}

.get-start{
    margin:45px 0px 10px 20px !important;
}